((=- Extends the Jupyter style template with XeLaTeX + Cyrillic (polyglossia) support -=))
((*- extends 'style_jupyter.tex.j2' -*))

((*- block docclass -*))
\documentclass[12pt,a4paper]{article}
((*- endblock docclass -*))

((*- block packages -*))
((( super() )))
%% --- Cyrillic / XeLaTeX additions ---
\usepackage{polyglossia}
\setmainlanguage{russian}
\setotherlanguage{english}
\setmainfont{DejaVu Serif}
\setsansfont{DejaVu Sans}
\setmonofont[Scale=0.85]{DejaVu Sans Mono}
%% --- Page layout ---
\geometry{a4paper, top=2cm, bottom=2cm, left=2.5cm, right=2cm}
%% -------------------------------------
((*- endblock packages -*))
